@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}

.page-active {
    display: block;
}


body{
/*	background-color: #cce5ff;*/

	color: white;
}

.navbar-custom { 
/*	background-color: #cce5ff; */
	padding: 0px;
	height: 50px;
}

.btn{
	background-color: #cce6ff;
	border : none;
	border-radius: 0px;
}

.kotakbesar{
	padding:50px;
}

.kotak1{
	background-color: #004d61;
	border: 2px solid #004d61;
	box-shadow: -5px 4px 9px rgba(0,0,0,0.3);
	border-radius: 10px;
	border-spacing: 20px;
}

.kotaks{
	background-color: #193238;
	border: 5px solid #004d61;
	
	border-radius: 5px;
	border-spacing: 20px;
}

.col-md-4{
	padding: 10px 20px;
}

.kelamin{
	margin-bottom: 10px;
	width: 325px;
	border-radius: 2px;
	border: none;
}

.button1 {
  background-color: ; 
  padding: 4px 138px;
  color: #00334d; 
  border: 2px solid #293242;
  cursor: pointer;
  font-family: helvetica;
  border-radius: 4px;
}

.button1:hover {
  background-color:  #00334d;
  color: white;
}

.kotak2{
	margin-top: 40px;
}

.col-md-6{
	padding:0px 20px;
	
}

.box{
	background-color: #004d61; 
	border: 2px solid #004d61;
	border-radius: 5px;
	box-shadow: -5px 4px 9px rgba(0,0,0,0.3);
}

.kotak3{
	margin-top: 40px;
}

/* tabel rekap medis */
/* @charset "utf-8"; */
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

body{
/*	background-color: #cce5ff;*/
	background-image: url("../image/menu4.jpg");
	color: white;
}

.kotakbesar1{
    padding:20px;
    margin-top: 50px;
}

.kotak12 {
	background-color: #004d61;
	border: 4px solid #004d61;
	box-shadow: -10px 6px 9px rgba(0,0,0,0.3);
	display: table;
	padding:30px;
	width: 100%;
	border-radius: 10px;
}

.Judul{
	margin-top: 30px;
	text-align: center;
	
}
.table{
	text-align: center;
}